#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  top: 25px;
  z-index: 1;
}
#chat-screen .status-bar {
  top: 0;
  z-index: 2;
}
#chat-screen .alt-header__column:first-child {
  margin-right: 80px;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  opacity: 0.7;
}
.message-row__items {
  width: 100%;
}
.message-row {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  opacity: 0;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 10px;
}
.message__author {
  opacity: 0.7;
  font-size: 17px;
  margin-bottom: 10px;
  display: block;
}
.message__text {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  border-top-left-radius: 0px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  margin-left: 7px;
  font-size: 15px;
  opacity: 0.7;
}
.message-row__me {
  justify-content: flex-end;
}
.message-row__me .message__text {
  background-color: #fee500;
  border-top-right-radius: 0px;
  border-top-left-radius: 12px;
  margin-left: 7px;
}
.message-row__me .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 40px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 50px;
  border-color: rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:last-child > i,
.reply .reply__column:last-child button {
  position: absolute;
  top: 3px;
  right: 3px;
}
.reply .reply__column:last-child > i {
  right: 55px;
  top: 13px;
}
.reply i:hover {
  cursor: pointer;
}
.reply button {
  background-color: #fee500;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 11px;
}

.reply .reply__column > i {
  opacity: 0.6;
}
.reply .reply__column:first-child,
.reply .fa-smile-beam,
.reply button {
  transition: 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-beam,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 95vw;
  transform: translatex(-11%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
