.alt-header {
  padding: 20px 25px 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alt-header__title {
  font-size: 30px;
  font-weight: 500;
}
.alt-header__column:first-child {
  margin-right: 7px;
}
.alt-header__column .fa-bars {
  margin-left: 50px;
}
